
<div class="container mx-auto pt-5">
  <h1 class="text-5xl">Landing Page</h1>

  <p class="text-base font-light leading-relaxed mt-5 mb-4"><%= link_to "Login Here", "/login" %></p>
  <p><%= link_to "Log In with Google", "/auth/google_oauth2" %></p>
  <p><%= link_to "Create Account", new_user_path%></p>
</div>