<div class="flex justify-between items-center bg-gray-100 py-4 px-8">
  <h1 class="text-2xl font-bold">WiseApp</h1>
  <div>
    <%= link_to 'Dashboard', dashboard_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-4" %>
    <%= link_to 'MyMeds', "/users/#{@user.id}/meds", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
</div>
